
.mycontainer{
    max-width: 1100px;
}

.n-index{
    z-index:-10;
}

.bg-trans{
    /*background-color: rgba(68,178,224,0.5);*/
    background-color: rgba(0,0,0,0.7);
}

.onscrolling{
    scroll-behavior: smooth;
}


.cliper{
    clip-path: circle(40% at 0% 0%);
    transition: clip-path 0.5s ease-in-out;
}

.cliper:hover{
    clip-path: circle(100% at 0% 0%);
}
